body {
    padding: 20px;
}
#body {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr 1fr;
}
h1 {
    font-family: "SansitaSwashed", sans-serif;
    font-style: italic;
    color: black;
    text-align: center;
    margin-bottom: 50px;
    grid-row: span 2;
    grid-column: span 2;
}
select, input, button, output {
    background-color: white;
    color: black;
    border: 1px solid black;
}
#roll {
    grid-row: 3;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5em;
}
.choice {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
#color {
    grid-row: 4;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}
#un, #deux, #trois, #quatre, #one, #two, #three, #four {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 0px
}
.trySection{
    grid-column: 2;
    display: inline-grid;
    grid-template-columns: repeat(7, 20px);
    gap: 0.5rem;
    align-self: center;
    justify-self: center;
    font-family: "SansitaSwashed", sans-serif;
}
.try1, .try2, .try3, .try4{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 0px;
}
.rep1 {
    color: green;
    justify-self: end;
}
.rep2 {
    color: red;
    justify-self: end;
}
#entrez {
    grid-row: 5;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}
#retry {
    grid-row: 6;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}
#red {
    background-color: red;
}
#yellow {
    background-color: yellow;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#orange {
    background-color: orange;
}
button {
    font-family: "SansitaSwashed", sans-serif;
    border-radius: 0.5rem;
}
button:hover {
    cursor: pointer;
}